* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1 {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    font-family: 'Creepster', cursive;
    background: url('src/img/09/firstbackground.png') no-repeat center center;
    background-size: cover;
    width: 1200px;
    height: 800px;
}


#player,
#layer1,
#layer2,
#layer3,
#layer4,
#layer5,
#enemy_fly,
#enemy_plant,
#enemy_spider_big,
#fire,
#collisionAnimation,
#lives,
#background {
    display: none;
}

/* 新添加的界面样式 */
#startScreen,
#characterSelect,
#levelSelect,
#story,
#levelDescriptionPage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    display: none;
}


/*剧情*/
#storyPage1,
#storyPage2,
#storyPage3,
#storyPage4,
#storyPage5 {
    top: 50%;
    left: 50%;
    text-align: center;
    background: rgba(0, 0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    display: none;
}

#storyPage1 h1,
#storyPage2 h1,
#storyPage3 h1,
#storyPage4 h1,
#storyPage5 h1 {
    color: white;
    font-family: 'Creepster', sans-serif;
    font-size: 3em;
    margin-bottom: 20px;
}

/*关卡说明*/
#level_1_DescriptionPage,
#level_2_DescriptionPage,
#level_3_DescriptionPage,
#level_4_DescriptionPage,
#level_5_DescriptionPage {

    top: 50%;
    left: 50%;
    text-align: center;
    background: rgba(255, 254, 254, 0);
    padding: 20px;
    border-radius: 10px;
    display: none;
    padding: 20px;
}

#level_1_DescriptionPage p,
#level_2_DescriptionPage p,
#level_3_DescriptionPage p,
#level_4_DescriptionPage p,
#level_5_DescriptionPage p {
    font-size: 1.5em;
    color: white;
}

#level_1_DescriptionPage h1,
#level_2_DescriptionPage h1,
#level_3_DescriptionPage h1,
#level_4_DescriptionPage h1,
#level_5_DescriptionPage h1 {
    color: white;
    font-family: 'Creepster', sans-serif;
    font-size: 3em;
    margin-bottom: 20px;

}

#startScreen h1,
#characterSelect h1,
#levelSelect h1 {
    color: white;
    font-family: 'Creepster', sans-serif;
    font-size: 3em;
    margin-bottom: 20px;
}

#startButton,
.character,
.levelButton,
.continueButton {
    background-color: white;
    color: black;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 2em;
    cursor: pointer;
    font-family: 'Creepster', sans-serif;
}

.character {
    display: inline-block;
}

.character img {
    width: 150px;
    height: auto;
}

/* 关卡选择界面的样式 */
#levelSelect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* 将“继续”按钮定位在右下角 */
.continueButton {
    position: absolute;
    bottom: -120px;
    right: -200px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 2em;
    cursor: pointer;

}